.FRED {
    position: relative;
    display: inline-block;
    width: 75%;
    height: 75%;
}
.FRED img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}
#hull {
    z-index: 1;
}
#solar-panel {

}
#rudder {

}
#hull-button {
    position: absolute;
    bottom: 0;
    right: 50%; 
    /* vertical-align: bottom; */
    z-index: 2;
    
}
#solar-panel-button {
    position: absolute;
    bottom: 0;
    right:25%;
    z-index: 2;
}
#rudder-button {
    position: absolute;
    bottom: 0;
    right:75%;
    z-index: 2;
}
.activated {
    -webkit-animation: activated 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; 
    animation: activated 1s;
    animation-fill-mode: forwards;
    /* animation-direction: alternate; */
}
@-webkit-keyframes activated {
    0% {top: 0px;}
    100% {top: -250px;}
}
@keyframes activated {
    0% {top: 0px;}
    100% {top: -250px;}
}
.inactivated {
    -webkit-animation: inactivated 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; 
    animation: inactivated 1s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes inactivated {
    0% {top: -250px;}
    100% {top: 0px;}
}
@keyframes inactivated {
    0% {top: -250px;}
    100% {top: 0px;}
}